/* style.css */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000000;
    color: #ffffff;
    padding: 25px;
}

.header {
    text-align: center;
    border: 2px solid #f1c40f;
    padding: 10px;
    margin-bottom: 30px;
}

h1 {
    color: #f1c40f;
    margin: 0;
}

details {
    background: #1a1a1a;
    border: 1px solid #333;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
}

summary {
    font-size: 1.2em;
    color: #00d4ff;
    cursor: pointer;
    font-weight: bold;
}

.box {
    background: #222;
    padding: 10px;
    border-left: 4px solid #ff3e3e;
    margin-top: 10px;
}
